@font-face {
    font-family: 'Formula1-Display-Bold-Bold';
    src:url('fonts/Formula1-Display-Bold-Bold.ttf.woff') format('woff'),
        url('fonts/Formula1-Display-Bold-Bold.ttf.svg#Formula1-Display-Bold-Bold') format('svg'),
        url('fonts/Formula1-Display-Bold-Bold.ttf.eot'),
        url('fonts/Formula1-Display-Bold-Bold.ttf.eot?#iefix') format('embedded-opentype');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'Photonica';
    src:url('fonts/Photonica.ttf.woff') format('woff'),
        url('fonts/Photonica.ttf.svg#Photonica') format('svg'),
        url('fonts/Photonica.ttf.eot'),
        url('fonts/Photonica.ttf.eot?#iefix') format('embedded-opentype'); 
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'titillium-web';
    src:url('fonts/TitilliumWeb-Light.ttf');
        font-weight: normal;
        font-style: normal;
}

body{
    margin: 0;
}

h1{
    font-family: 'Formula1-Display-Bold-Bold';
    font-size: 50px;
}

h2{
    font-family: 'Photonica';
    font-size: 20px;
}

p{
    font-family: 'titillium-web';
}

.highlight{
    color: orange;
}

.misc{
    padding-left: 35%;
    color: red;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img{
    padding-top: 5%;
    padding-right: 20%;
    width: 100%;
}

.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}

section{
    height: 500px;
    padding-bottom: 150px;
}

.link-button{
    font-family: 'Formula1-Display-Bold-Bold';
    text-decoration: none;
    padding: 15px 20px 15px 20px;
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    color: white;
    border-radius: 5px;
    font-weight: 700;
}

.paragraph{
    padding-bottom: 3%;
}

.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

.single-experience{
    box-shadow: 10px 10px 35px gray;
    border-radius: 5%;
    height: 80%;
    background-color: white;
}

#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(10, 240, 240), rgb(197, 178, 172));
    border-image-slice: 1;
}

#junior-dev{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(53, 42, 160), rgb(138, 158, 179));
    border-image-slice: 1;
}

footer p {
    text-align: center;
    font-size: 15px;
}